:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  grid-template-columns: auto 1fr;
  gap: 1px;
  display: grid;
  min-height: 100vh;
  background-color: white;
}

.column-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 20px;
  /* border: 1px solid red; */
}

.column-2 {
  /* border: 2px solid green; */
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for the callout card */
.callout-card {
  /* width: 400px; */
  background-color: #f0f0f0;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  /* margin: 10px 10 10px 0; */
}

/* Styles for the card content */
.callout-card p {
  color: #666;
  /* Content text color */
  font-size: 16px;
  /* Content font size */
}

/* Style the read more link */
.callout-card a {
  text-decoration: none;
  /* Remove underlines from links */
  color: #007bff;
  /* Link color */
  font-weight: bold;
  /* Make the link bold */
}

.callout-card h2 {
  color: #333;
  /* Title text color */
  font-size: 24px;
  /* Title font size */
  margin-top: 0;
  /* Remove top margin for spacing */
}

@media (max-width: 767px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .column-1 {
    margin: 10px;
    width: 90%;
  }
}

#main-canvas {
  width: 100%;
}
